@import url('https://fonts.googleapis.com/css2?family=Anton&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

/* 
FONTS CSS FORMAT

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.radio-canada-big-<uniquifier> {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 87vw;
    margin: auto;
}

nav {
    background-color: #f3f3f3;
    border: 1px solid #b3b3b3;
    border-left: none;
    border-right: none;
    height: 75px;
}

#header-logo {
    height: 65px;
}

#pic-logo{
    margin-top: 20px;
    height: 25px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    height: 59px;
    margin-right: 30px;
    margin-top: 15px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    text-transform: uppercase;
    cursor: pointer;
}

li:hover
{
    border-bottom: 5px solid #2D5D2A;
}