@import url('https://fonts.googleapis.com/css2?family=Anton&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

/* 
FONTS CSS FORMAT

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.radio-canada-big-<uniquifier> {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/


/* #region General Tags */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    padding-bottom: 30px;
}


section {
    padding-bottom: 50px;
}


footer {
    background-color: #000000;
    margin-top: 65px;
    height: 350px;
    color: #ffffff;
}

nav {
    background-color: #f3f3f3;
    border: 1px solid #b3b3b3;
    border-left: none;
    border-right: none;
    height: 75px;
}

ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

button {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45pt;
}

p {
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    line-height: 24pt;
}

h2 {
    font-size: 24pt;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline #FF0000;
}

/* #endregion */



/* #region Container Classes */

.head-foot {
    width: 87vw;
    margin: auto;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.body-container {
    width: 67vw;
    margin: auto;
}

/* #endregion */



/* #region Header Logo */

#header-logo {
    display: flex;
    justify-content: flex-end;
    height: 65px;
}

#pic-logo {
    margin-top: 20px;
    height: 25px;
}

#pic-track {
    background-color: #2D5D2A;
    margin-right: 10px;
    display: inline-block;
    width: 25px; 
    height: 25px;
    vertical-align: text-top; 
}

#order-tabs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1420px;
}

#order-tabs li {
    padding: 10px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
    font-size: 13pt;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
}

#order-tabs li:hover {
    background-color: #e1e1e1;
    border-radius: 5px;
    cursor: pointer;
}

#sign-up-button {
    background-color: #2D5D2A;
    border: none;
    padding: 5px;
    width: 85px;
    height: 40px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 13pt;
    text-transform: uppercase;
}

#sign-up-button:hover {
    background-color: #333333;
}

/* #endregion */



/* #region Header Navigation */

#nav-flex {
    display: flex;
}

nav li {
    display: inline-block;
    height: 74px;
    margin-right: 30px;
    padding-top: 15px;
    font-size: 19pt;
    text-transform: uppercase;
    cursor: pointer;
}

nav li:hover
{
    border-bottom: 5px solid #2D5D2A;
}

#search {
    display: inline-block;
    margin-top: 17px;
    margin-left: auto;
}

#search input {
    border: 1px solid rgb(146, 146, 146);
    border-radius: 5px 0 0 5px;
    margin: 0;
    padding: 10px;
    width: 220px;
    height: 40px;
    font-size: 12pt;
    font-style: italic;
    vertical-align: middle;
}

#search input:focus {
    border: 1px solid #00a576;
    outline: none;
}


#promo {
    background-color: #2D5D2A;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    border: none;
    width: 60px;
    height: 40px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: #ffffff;
    vertical-align: middle;
}

#promo:hover {
    background-color: #333333;
}

/* #endregion */



#big-sign {
    background-color: #2D5D2A; 
    height: 515px; 
    overflow: hidden;
    cursor: pointer;
}



/* #region Signature Pizzas */
#home-pizzas li {
    display: inline-block;
    position: relative;
    margin-right: 30px;
}

.signature-pizza {
    width: 350px;
    height: 400px;
    border-radius: 24px;
    background-color: #2D5D2A;
    overflow: hidden;

    cursor: pointer;
}

.img-pizza {
    width:350px;
    transition: transform 0.7s ease-in-out;
}

.img-pizza:hover {
    transform: scale(1.1);
}

.overlay-text-pizza {
    position: absolute;
    width: 300px;
    bottom: 10%;
    left: 7%;
    color: #ffffff;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pizza-title {
    background-color: #2D5D2A;
    padding: 8px;
    width: 220px;
    height: 50px;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.pizza-order-now {
    display: block;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    width: 96.2031px;
    height: 36px;
    font-size: 16px;
    cursor: pointer;
}

.pizza-order-now:hover {
    background: #e6e6e6;
}

/* #endregion */



/* I think its a collapsed margin with footer so need to float left of display: in-line block */
#foot-contact {
    float:left;
    height: 100px;
    margin-top: 20px;
}

#foot-contact ul {
    line-height:20pt;
}

#foot-contact li {
    display: table-cell;
    vertical-align: top;
    border-collapse: separate;
    padding-right: 80px;

    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    
}

#foot-socials {
    float: right;
    height: 100px;
    margin-top: 20px;
}

#foot-socials li {
    display: inline-block;
}

.social-icon {
    background-color: #FF0000;
    width: 40px;
    height: 40px;
    margin-right: 25px;

    cursor: pointer;
}

